<%= flash[:user] %>

<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Opinion</th>
        </tr>
    </thead>

    <tbody>
       <% @books.each do |book| %>
    　　<tr>
    　　 <td><%= attachment_image_tag book.user, :profile_image,  format: 'jpeg', fallback: 'no_image.jpg', size:'100x100', class: "attachment user profile_image fallback" %> </td>
    　　  <%#確認画像の表示 %>
         <td> <%= book.title %> </td>
         <td> <%= book.body %> </td>
    　　</tr>
    　　<% end %>
    </tbody>
</table>


<div>
  <h3>user info</h3>
    <%= attachment_image_tag @user, :profile_image, format: 'jpeg', fallback: 'no_image.jpg', size:'100x100', class: "attachment user profile_image fallback"  %>
   <p><%= @user.name %></p>
   <p><%= @user.introduction %></p>

   <% if @user.id == current_user.id %>
    <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
   <% end %>
</div>


<h2>New book</h2>
<%= form_with model: @book, local:true do |f| %>
<h5>Title</h5>
<%= f.text_field :title %>
<h5>Body</h5>
<%= f.text_area :body %>
<p>
<%= f.submit 'Create Book' %>
</p>

<% end %>