<h1>books detail</h1>

<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Body</th>
        </tr>
    </thead>
    <tbody>
        <td> <%= @books.title %></td>
        <td> <%= @books.body %></td>
    </tbody>
</table>






<div>
  <h3>user infomation</h3>
    <%= attachment_image_tag @user, :profile_image %>
    <%#要確認@userの使い方%>
  　
   <p><%= @user.name %></p>
   <p><%= @user.introduction %></p>
   
   <% if @user.id == current_user.id %>
    <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
   <% end %>
</div>


<h2>New book</h2>
<%= form_with model: @book, local:true do |f| %>
<h5>Title</h5>
<%= f.text_field :title %>
<h5>Body</h5>
<%= f.text_area :body %>
<p>
<%= f.submit 'Create Book' %>
</p>

<% end %>