<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  
  <body>
    
    <div class="dropdown-menu">
  <h6 class="dropdown-header">Dropdown header</h6>
  <a class="dropdown-item" href="#">Action</a>
  <a class="dropdown-item" href="#">Another action</a>
</div>
    
  
    <% if user_signed_in? %>
      <header>
        <p>Home</p>
        <p>Users</p>
        <p>Books</p>
        <p>logout</p>
      </header>
      
      <li>
        <%= button_to "ログアウト", destroy_user_session_path, method: :delete %>
      </li>
    <% else %>
      <header>
        <p>Home</p>
        <p>Users</p>
        <p>Books</p>
        <p>logout</p>
      </header>
      <li>
        <%= link_to "Sign up", new_user_registration_path %>
      </li>
      <li>
        <%= link_to "Log in", new_user_session_path %>
      </li>
    <% end %>
    
    <%= yield %>
    
    <footer>                  
     <p>
       Copyright PicTweet 2019.
     </p>
    </footer>
    
  </body>
</html>
